@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Josefin+Sans&family=Manrope:wght@300&family=Playfair+Display&family=Poiret+One&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.nav {
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.menu {
display: flex;
margin-top: 50px;
margin-left: 300px;
}
.menu ul, li {
    display: block;
}
.menu li {
 margin-right: 50px;
 margin-top: 15px;
 margin-left: 30px;
}
.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    color: white; 
    font-family: 'Comfortaa', cursive;
}
.cy {
    margin-left: 500px;
    display: flex;
}

.nav ul li::after {
    content: '';
    width: 0%;
    height: 1px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav ul li:hover::after {
    width: 100%;
}
svg {
    color: black;
    width: 62px;
    height: 62px;
    border: 1px solid white;
    background-color: white;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 50px;
}
svg:hover {
    color: white;
    width: 62px;
    height: 62px;
    border: 1px solid white;
    background-color: black;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 50px;
    transition: 0.5s;

}
main {

    height: 1600px;
}
.container {
    width: 1170px;
    margin: 0 auto;

}
.p1 {
    font-size: 50px;
    color: white;
    letter-spacing: 0.4px;
    font-family: 'Comfortaa', cursive;
    padding-bottom: 20px;
    padding-top: 110px;
}
.container-1 img {

    width: 500px;
    height: 300px;
    border: 3px solid white;
    border-radius: 12px;
}
.p2 {
    font-size: 25px;
    color: white;
    font-style: oblique;
    font-stretch: expanded;
    padding-top: 15px;
}
.p3 {
    font-size: 40px;
    color: white;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 30px;


    padding-top: 40px;
}
iframe {
    border: 3px solid white;
    border-radius: 12px;
    margin-top: 20px;
}
footer {
    background-color: black ;
    width: 1170px;

    margin: auto;

}
.footnav-1 li a {
    color: white;
   font-family:  'Comfortaa', cursive; 
   font-size: 12px;
    padding-left: 30px;
    text-decoration: none;


}
.footnav-1 {
    display: flex;
    clear: both;
    margin-left: 440px;

}
.footnav-2 li a {
    color: white;
   font-family:  'Comfortaa', cursive; 
   font-size: 12px;
    padding-left: 20px;
    margin-top: 20px;
    text-decoration: none;

}
.footnav-2 {
    display: flex;
    padding-top: 30px;
    margin-bottom: 50px;

}
.footer p {
    color: rgba(255, 255, 255, 0.507);
    font-family:  'Comfortaa', cursive; 
    font-size: 10px;
    text-align: center;
    margin-bottom: 50px;
}
